.cards-groupe {
    width: 3rem;
    height: auto;
}

.description {
    font-family: system-ui;
    color: rgb(52, 179, 38);
}

.genre {
    size: 1rem;
    color: aqua;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}