<h1>Movies home</h1>
<div class="d-flex justify-content-center flex-wrap">
  <div *ngFor="let movie of moviesToShow" class="card mx-2 my-2" style="width: 10rem;">
    <img class="card-img-top" src={{movie.poster}} alt={{movie.title}}>
    <div class="card-body">
      <h3 class="card-title"> <mat-icon>theaters</mat-icon>{{movie.title}}</h3>
      <p class="description">{{movie.description}}</p>
      <p class="genre">{{movie.genre}}</p>
      <div class="card-container">

        <mat-icon>favorite_border</mat-icon>
        <div>
          <mat-icon>playlist_add_check</mat-icon>
          <h5>On my watchlist</h5>
        </div>
        <button type="button" class="btn btn-sm btn btn-outline-success"><mat-icon>play_circle_outline</mat-icon>
          <mat-icon>weekend</mat-icon></button>
      </div>
    </div>
  </div>


</div>
<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->